.r-container{
    width: 60%;
    position: relative;
    left: 30%;
    display: flex;
    flex-wrap: wrap;
}
.main{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.5em;
    padding: 25px 0px;
}
.bg{
    background-image: url('https://cdn.pixabay.com/photo/2016/03/27/19/44/man-1283944_960_720.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 30px 20px;
}
.bg h1{
    padding: 5px 10px;
    font-size: 3em;
    color: yellowgreen;
}
.bg p{
    font-size: 2.5em;
    padding: 5px 10px;
    margin:20px 0px;
    color: white;
}
.bg button{
    margin: 5px 15px;
}
#bg-btn{
    padding:15px 30px ;
    border: none;
    background-color: black;
    color: white;
    cursor:pointer;
    margin-bottom: 50vh;
}
#bg-btn:hover{
    background-color: #aaa;
}
.img{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img h3{
    width: 100%;
    padding: 15px 0px;
}
.box{
    width: 23%;
}
.img-box img{
    width: 100%;
}
.money{
    font-weight: bold;
}
.box-content{
    padding: 15px 0px;
}
.subscriber{
    border: 1px solid;
    width: 100%;
    background-color: black;
    color: white;
    padding: 40px 15px;
}
.subscriber h1{
    padding: 10px 0px;
}
.subscriber input{
    width: 100%;
    margin: 15px 0px;
    border: none;
    box-sizing: border-box;
    padding: 10px 5px;
}
#sub-btn{
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background-color: red;
    color: white;
}
#sub-btn:hover{
    background-color: #aaa;
}
.article{
    width: 100%;
    box-sizing: border-box;
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
}
.first-article{
    width: 33%;
    text-align: center;
    padding: 40px 10px;
    box-sizing: border-box;
}
.first-article h2{
    padding: 10px 0px;
}
.first-article input{
    margin: 5px 0px;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 5px;
}
#a-f-btn{
    width: 100%;
    padding: 10px 0px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    margin: 5px 0px;
}
#a-f-btn:hover{
    background-color: #aaa;
}
.second-article{
    width: 33%;
    text-align: center;
    box-sizing: border-box;
    padding: 50px 0px;
}
.second-article a{
    color: black;
background-color: none;
}
.second-article p{
    padding: 10px 0px;
}
.third-article {
    width: 33%;
    word-wrap: break-word;
    padding: 40px 0px;
    box-sizing: border-box;
}
.third-article h2{
    padding: 10px 0px;
}
.third-article p{
    padding: 5px 0px;
}
.third-article p a{
    display: inline-block;
    color:black;
}
.third-article i{
    padding: 0px 5px;
}
footer{
    width: 100%;
    padding: 25px 0px;
    background-color: black;
    color: white;
    text-align: center;
}
